@media screen and (max-width: 770px) {
  .main{
    margin-left:auto;
    margin-right: auto;
    width:100%;
  }
  .logo{
    float:left;
    width:30%;
  }
  .prob{
    display:none;
    float:right;
  }
  #slider{
    display:none;
  }
  .search{
    float:left;
    width:70%;
    margin-top:30px;
    margin-left:0px;
    /* margin-top:2px; */
  }

  .dropdown{
    width:20%;
  }
  .search-btn{
    width:20%;
  }
  .search-bar{
    width:59%;
    background-color:white;
    float:left;
    max-height:20px;
  }
  .options{
    float:right;
    width:13%;
  }
  .options li{
    list-style-type:none;
    border-right:1px solid black;
    /* vertical-align: middle; */
    float:left;
  }

  .options li a{
    margin-left:6px;
    padding-right:6px;
  }

  .hammenu{
    float:left;
    margin-left:5px;
    font-family:ProximaNova;
    line-height:40px;
    font-size:15px;
  }
  .hammenu a{
    margin-right:20px;
    color:black;
    text-decoration:none;
  }
  .images-3{
    margin-top:0px;
  }
  .watch{
    min-height:253px;
    float:left;
    width:50%;
    margin-left:24%;
    position:relative;
    margin-top:20px;
  }
   .shoes{
   min-height:253px;
   float:left;
   width:50%;
   margin-left:24%;
   position:relative;
    margin-top:20px;
  }

  .camera{
    min-height:253px;
    float:left;
    width:50%;
    margin-left:24%;
    position:relative;
    margin-top:20px;
  }
  .pro{
    display:none;
  }

  .heading{
  line-height:109px;
  text-align:center;
  float:left;
  margin-left:16%

  }
  .heading span a{
    font-size:30px;
     margin-left:42px;
  }
  .heading span img{
    display:none;
  }

 .salez li {
    width:48%;
    list-style-type: none;
    float:left;
    margin-bottom: 2px;
  }
  .price{
    line-height:30px;
    font-family:Montserrat;
    font-size:14px;
    color:blue;
    text-align:center;
    margin-right:20%;
    margin-left:20%;

  }
  .desc{
    font-size:10px;
    font-family:Montserrat;
    float:left;
    margin-right:20%;
    margin-left:20%;
    line-height: 12px;
    display:none;
  }

  .last-row{
    float:left;
    margin-top:98px;
    width:100%;
  }
  .last-row li{
    list-style-type: none;
    width:100%;
    text-align:center;
  }

  .allz1{
    float:left;
    width:100%
    text-align:center;
  }
  .t17{
    font-size:22px;
    font-family:Montserrat;
    padding-top:5px;
    width:80%;

  }
  .lr{
    float:right;
    margin-top:10px;
  }
  .catalog{
    float:right;
    font-size:10px;
    margin-top:20px;

  }

  .allz{
    float:left;
    margin-right:10%
  }
  .aaa{
    line-height: 36px;
    font-size:20px;
    font-family:Montserrat;
    width:20%;
    float:left;
  }



}
